<h1>Client: <%= @client.identifier %>, Event: <%= @event.name %> </h1>

<h3>Total occurences of event: <%= @event_payload_requests.count %></h3>

<table class="table table-striped">
  <tr>
    <td>Hour (24-hour Time)</td>
    <td>Number of Occurences</td>
  </tr>
  <%= erb :'shared/_event_times', locals: {event_time_hash: @event_time_hash} %>
</table>
